* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #80808029;
  font-family: Raleway;
}

.marginBox {
  max-width: 1024px;
  width: 100%;
  margin: 0px auto;
}

/*topo da pagina*/

header {
  width: 100%;
  height: 55px;
  background-color: #fff;
}

header section {
  display:flex;
  padding: 10px;
  margin: 0 auto;
  justify-content: left;
  align-items: center;
}

header .marginBox p {
  font-size: 24px;
  color: #5d15d1;
  margin-left: 10px;
}

header section img {
  width: 32px;
  height: 32px;
}

/*fim do topo da pagina*/

main {
  width: 100%;
}

.backImage {
  width: 100%;
  background-image: url(../assets/bahia.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

main section form {
  padding: 50px 0px;
}

.formBox {
  margin: 0 auto;
  border: 1px solid #5d15d1;
}

.tituloForm {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5d15d1;
}

.tituloForm img {
  width: 20px;
  height: 20px;
  rotate: -45deg;
}

.tituloForm legend {
  font-size: 14px;
  color: #fff;
  margin-left: 5px;
}
/*topo do fomulario*/

.dadosBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  padding: 30px 25px 20px 25px;
}

.dadosBox h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

.inputBox {
  margin: 15px 0;
}

.inputBox label {
  font-size: 16px;
  line-height: 25px;
}

.inputBox input, .inputBox select {
  width: 100%;
  height: 32px;
  padding: 5px;
}

.boxM {
  display: flex;
  width: 100%;
  gap: 15px;
  margin-bottom: 15px;
}

.boxI {
  width: 50%;
}

.boxI input, .boxI select {
  width: 100%;
  height: 32px;
  font-size: 16px;
  padding: 5px;
}

.select {
  width: 100%;
  flex-wrap: wrap;
  margin: 10px 0;
}

.select label {
  width: 100%;
}

.select div {
  display: flex;
  
}

.select div .chefPref {
  align-items: center;
  width: 120px;
}

.select div .chefPref input {
  width: 15px;
}

.select div .chefPref label {
  margin-left: 8px;
}

.dadosBox button {
  width: 160px;
  height: 32px;
  background-color: #5d15d1;
  color: #fff;
  font-size: 16px;
  border-radius: 3px;
  border: none;
  margin-top: 30px;
  cursor: pointer;
}

/*Fim da parte formulario*/

.ofertas {
  width: 100%;
  margin: 32px auto;
}

.ofertas div h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.ofertas div h3 {
  font-weight: normal;
  margin-bottom: 15px;
}

.imageOfert {
  width: 100%;
  height: 375px;
  display: flex;
  gap: 15px;
}

.imageDestaq, .imageGrupo {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.imageDestaq figure {
  width: 100%;
  height: 100%;
  position: relative;
}
.imageDestaq figure img {
  width: 100%;
  height: 100%;
}


.imageOfert figure figcaption {
  padding: 5px 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 17px;
  color: white;
  background-color: rgba(0, 0, 0, 50%)
}



.imageGrupo figure {
  width: calc(50% - 5px);
  height: calc(50% - 5px);
  position: relative;
}

.imageGrupo figure img {
  width: 100%;
  height: 100%;
}
/*parte da oferta de 50%*/

.anuncios {
  width: 100%;
  margin: 32px auto;
}

.anuncios div h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.anuncios div h3 {
  font-weight: normal;
  margin-bottom: 15px;
}

.imageAnunc {
  width: 100%;
  display: flex;
  gap: 16px;
}

.imageAnunc figure {
  width: 50%;
  height: 100%;
  background-color: #fff;
}

.imageAnunc figure img {
  width: 100%;
}

.imageAnunc figure div {
  width: 100%;
  padding: 12px;
}

.imageAnunc figure div h4 {
  font-size: 16px;
}

.imageAnunc figure div p {
  font-size: 14px;
  margin-top: 10px;
}
/*Encerro aqui a parte anuncio*/

footer {
  width: 100%;
  background-color: #5d15d1;
}

.rodape {
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
}

.rodape nav {
  flex-direction: column;
  margin: 20px 0;
}

.rodape nav h2 {
  color: #fff;
  margin-bottom: 18px;
  font-size: 20px;
}

.rodape nav div {
  display: flex;
  margin: 10px 0;
  align-items: center;
}

.rodape nav div img {
  width: 18px;
}

.rodape nav div a {
  font-size: 14px;
  margin-left: 8px;
  text-decoration: none;
  color: #fff;
}
/*finalizo o rodape aqui*/

/*media queries abaixo*/

/*telas até 1100px de largura*/
@media screen and (max-width: 1100px) {
  .marginBox {
    max-width: 1024px;
    width: 90%;
    margin: 0px auto;
  }
  
  .ofertas {
    width: 90%;
    margin: 32px auto;
  }
  
  .anuncios {
    width: 90%;
    margin: 32px auto;
  }
}

/*telas até 768px de largura*/
@media screen and (max-width: 768px) {
  .dadosBox button {
    width: 100%;
  }
  
  .imageOfert {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .imageDestaq, .imageGrupo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .imageGrupo figure {
    width: 100%;
    height: 225px;
  }
  
  .imageAnunc {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .imageAnunc figure {
    width: 100%;
    height: 100%;
    background-color: #fff;
  }
  
  /*telas até 540px*/
  @media screen {
    
  }
}